<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>com.renker</groupId>
  <artifactId>simple-activiti</artifactId>
  <version>0.0.1-SNAPSHOT</version>
  <packaging>pom</packaging>
  <modules>
  	<module>activiti-helloword</module>
  </modules>
  
  <properties>
  	<activiti.version>5.22.0</activiti.version>
  	<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <org.springframework.version>4.2.0.RELEASE</org.springframework.version>
    <org.apache.shiro.version>1.2.4</org.apache.shiro.version>
	<blog.version>0.0.1-SNAPSHOT</blog.version>
  </properties>
  
  <dependencyManagement>
	<dependencies>
		<dependency>
		    <groupId>org.activiti</groupId>
		    <artifactId>activiti-engine</artifactId>
		    <version>5.22.0</version>
		</dependency>
		
		<dependency>
		    <groupId>org.activiti</groupId>
		    <artifactId>activiti-spring</artifactId>
		    <version>5.22.0</version>
		</dependency>
	</dependencies>
  </dependencyManagement>
  
  <build>
  	<plugins>  
        <plugin>  
            <groupId>org.apache.maven.plugins</groupId>  
            <artifactId>maven-compiler-plugin</artifactId>  
            <configuration>  
                <source>1.8</source>  
                <target>1.8</target>  
            </configuration>  
        </plugin>  
    </plugins>  
  </build>
</project>
